  /* Palleton  : http://paletton.com/#uid=b2P3i2m0ksJtbhFA3mCuyujmY-7i1 */
  
  :root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 10px 5px 50px rgb(0, 0, 0);
    --shadowHover: 2vw 5vh 5vw rgb(0, 0, 0);
    --lightshadow: 10px 5px 100px rgba(0, 0, 0, 0.678);
    --shadowMedium: 10px 5px 100px  rgba(0, 0, 0, 0.349);
    
    --textcolor: #005656;
    --mediumbox: #2b9292;
    --lightbox: #4CAAAA;
    --darkbox: #efffff;
    
    --background: rgba(255, 255, 255, 0.671);
    --invisible: rgba(255, 255, 255, 0);

    --boxColor1: rgb(231, 252, 231);
    --boxColor2:   background: linear-gradient(90deg, rgba(250,255,161,0.8105523459383753) 28%, rgba(246,255,61,1) 71%);
    --boxLight: #5FD45F;
    --boxMedium: #39C339;
    --boxDark: #089208;
    
    /* Transition Speed */
    --slowspeed: 2s;
    --mediumspeed: 1s;
    --fastspeed: 0.3s;

    /* Responsize properties */
    --fontSize:         calc(1em + 1.2vw /2);
      --fontSizeTitle:    calc(1em + 10vw / 2);
      --fontSizeSubTitle: calc(1em + 2vw / 2);
      --fontSizeP:        calc(1em + 0.1vw / 2);
      --MarginSize:       calc(1em + 10vw / 2);
      --gridGap:          calc(1em + 2vw /2);
      --imgWidth:         calc(1em + 40vw /2);
      --imgHeight:        calc(1em + 60vh /2);
      --cardIcon:         calc(10px + 1vw / 2);

      --widthContainer600: calc(1em + 90vw /2;)
    }
/* /////////////////////////////////////////////////////////////////////////////////// */



body {
    background: var(--lightbox);
    margin: 0;
    padding:0;
    transition: 0.2s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}



nav{
    display: grid;
    grid-template-columns: 10% 35% 10% 15% 15% 15%;
    position: sticky;

    grid-column: 4/5;
    top:0;
    position: sticky;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    font-size: var(--fontSizeP);
    background-color: #efffff;
    box-shadow: var(--shadowMedium);
    z-index: 20;
}

nav:hover{
    background-color: #fff;
    box-shadow: var(--shadow);
}

#navID{
    transition: 0.2s;
    margin-left: 10px;
    margin-right: 10px;
}

#navID:hover{
    border-bottom: 3px solid gold;
    background-color: #c2ffff;
    border-radius: 5px;
}


ul{
    padding: 0;
}

h1{
}

.GlobalContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 5px;
    padding: 2vw 2vw;

    transition: 2s;
}

.GlobalContainer:hover{

        background: var(--background);
        transition: 0.5s;
        box-shadow: var(--shadowHover);
}

.Title {
    grid-column: 2/4;
    grid-rows: 1/4;
    font-size: var(--fontSizeTitle);
    border: 1px solid black;;
    height: 10vw;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-content: center;
}



#box {
    grid-column: 2/5;
    grid-row: 2/4;
    text-align: center; 
}

#container{
    width: var(--imgWidth);
    height: var(--imgHeight);
    margin: 5vh, 5vw;
    border-radius: 10vw;
    
}

i{
    color: gold;
}

.title{
    margin: 2px 5px;
    padding: 0.2em 0.2em;
}

.card-head{
    position: relative;
    /* Insert background gradient top side card */
    text-align: center;
    vertical-align: center;
    justify-items: center;
    
}


card-logo{
    width: 55px;
    margin: 20px;
}


.product-img{
    /* position: absolute; */
    left: 0;
    margin-top: -3vh;
    /* margin-left: 5vw; */
    padding: 0 5vw;
    width: var(--imgWidth);
    height: var(--imgHeight);
    
}

.product-detail{
    padding:var(--cardIcon) var(--cardIcon) 2vw 2vw ;
    font-size: var(--fontSizeP);
    
}

.card:nth-child(odd){
   

}

.card:nth-child(even){
    
   background-color: rgb(199, 252, 189);
   
}

.card{
    
    box-shadow: var(--lightshadow);
    opacity: 0.5;
    background: var(--boxColor2);
    transition: 0.5s;
    
}

.card:hover{
    
    
    box-shadow:  var(--shadow);
    padding-bottom: 2em;
    opacity: 1;
    border-radius: 5vw;
    background-color: var(--boxColor1);
    transition: 0.15s;
    margin-right:   calc(--MarginSize - 10px);
    margin-left:   calc(--MarginSize - 50px);
    font-size: 102%;
    


}
.product-detail h5{
    
}
/* img{
    width: var(--imgWidth);
    height: var(--imgHeight);
} */
#templateAPI{
    display: grid;
    grid-row: 1/3;
    grid-column: 1/3;
    grid-template-rows: repeat(1fr, 3);
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gridGap);

    
}


footer{
    height: 4m;
    display:grid;
    grid-template-columns: 20% 40% 40%;
  
    text-align: center;
    vertical-align: center;
    justify-items: center;
    margin-top: 5em;
    
    background-color: rgb(192, 192, 192);
    color: #fff;
    border-top: 2px solid grey;
}
#footer{
    
    border-top: 3px solid var(--shadow);
}

/* .title{
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 4);
    grid-gap: var(--gridGap);
    grid-row: 0/1;
    grid-column: 1/2;
    width: 25vw;
    height: 25vh;
    
} */


/* .title > img{
    width: var(--imgWidth);
    height: var(--imgHeight);
} */


/* /////////////////////////MEDIA QUERIES */
@media only screen and (max-width: 940px) {
    .GlobalContainer {
        display: grid;
        margin-right: 5vw;
        margin-left: 5vw;
     
    }

    .card{
        display: grid;
        grid-row: 2/4;
        grid-column: 0/2;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 3);
        grid-gap: var(--gridGap);
        color: var(--textcolor);
        z-index: 10;

    }
    
    #templateAPI{
        grid-template-columns: 1fr;
    }
    .product-img{
        /* position: absolute; */
        left: 0;
        margin-top: -3vh;
        /* margin-left: 5vw; */
        padding: 0 5vw;
        width: var(--imgWidth);
        height: var(--imgHeight);
      
    }
}




@media only screen and (max-width: 400px) {

    body{
 
    }
    #templateAPI{
        grid-template-columns: 1fr 1fr;
        grid-row: 3/4;
       
    }




   .Title{
       grid-column: 1/2;
   }

   
   .container{
    
}

nav{
    margin-top: -3em;
    grid-template-columns: 1fr;
    position: relative;
}
#navID > p {
    display: block;
}

#navID > p:hover{
   
    transition: 0.2s;
    font-size: 5vw;
}

footer{
    display: flex;
    justify-content: space-around;
}

}
