* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0;
}

body {
  font-family: 'Arial';
  color: #BADA55;
  background-color: white;
  padding: 1%;
}

h1 {
  font-size: 3em;
}

main{
  width: 75%;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap:
}

.singleAttack {
  margin-top: 1.1em;
  border-top: .1em #BADA55 solid;
  padding: .5em 0;
}

main h2 {
  width: 100%;
}

main .left, main .right {
  width: 50%;
}

.half {
  width: 50%;
}

.left img {
  /* width: 50%; */
  overflow:hidden;
}

.energy {
  background-image: url('https://pokemontcg.io/assets/images/energy-types-f0fdba3b2e216b418fbedace0c050f36.png');
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: .2em;
}

.fire {
  background-position: 0 0;
}

.colorless {
  background-position: -25px 0;
}

.lightning {
  background-position: -25px -25px;
}

.fighting {
  background-position: -50px -25px;
}

.fire {
  background-position: 0 0;
}

.fire {
  background-position: 0 0;
}

.fire {
  background-position: 0 0;
}

.damage {
  color: black;
}
